.top-navigation .sub-menu > li > a {
    background-color: #25426f;
}

.top {
    background: #25426f linear-gradient(to bottom, #25426f, #223f6c);
}

.top {
    border-bottom-color: #5875a2;
}

.top::before {
    border-top-color: #5875a2;
}

.top::after {
    border-left-color: #5875a2;
}

.top-navigation .sub-menu > li > a, .top-navigation .sub-menu > li > .sub-menu {
    border-color: #183562;
}

.top, .top-navigation > li > a, .top-navigation .sub-menu > li > a {
    color: #aab0be;
}

.top-navigation > li > a:hover, .top-navigation > li > a:focus, .top-navigation .sub-menu > li > a:focus, .top-navigation .sub-menu > li > a:hover {
    color: #b7bdcb;
}

.header__container, .top::before, .top::after {
    background-color: #ffffff;/*#2f538a*/
}

.header__widgets, .header .icon-box__title {
    color: #666666  ;
}

.header .icon-box__subtitle {
    color: #666666;
}

.breadcrumbs {
    background-color: #ffffff;
}

.breadcrumbs a {
    color: #3d3d3d;
}

.breadcrumbs a:hover {
    color: #303030;
}

.breadcrumbs span > span {
    color: #999999;
}

.header__navigation {
    background-color: #0b3d86;
}

@media (min-width: 992px) {
    .header__navigation-widgets, .header__navigation-widgets::before, .header__navigation-widgets::after, .header__container::after, .header--no-nav-widgets .header__navigation::after {
        background-color: #0b3d86;
    }
}

@media (min-width: 992px) {
    .main-navigation > li > a, .home-icon, .main-navigation .menu-item-has-children::after {
        color: #ffffff;
    }
}

@media (min-width: 992px) {
    .main-navigation > li > a:hover, .home-icon:hover, .home-icon:focus, .main-navigation > .current-menu-item > a:focus, .main-navigation > .current-menu-item > a:hover, .main-navigation > li:focus::after, .main-navigation > li:hover::after {
        color: #ffffff;
    }
}

@media (min-width: 992px) {
    .main-navigation > li:focus > a::after, .main-navigation > li:hover > a::after {
        background-color: #ffffff;
    }
}

@media (min-width: 992px) {
    .main-navigation > .current-menu-item > a, .main-navigation > .current-menu-item.menu-item-has-children::after, .main-navigation > .current-menu-item > a:hover, .main-navigation > .current-menu-item.menu-item-has-children:hover > a, .main-navigation > .current-menu-item.menu-item-has-children:focus::after, .main-navigation > .current-menu-item.menu-item-has-children:hover::after {
        color: #2b5fab;
    }
}

@media (min-width: 992px) {
    .main-navigation > .current-menu-item > a::after, .main-navigation > .current-menu-item > a:focus::after, .main-navigation > .current-menu-item > a:hover::after, .main-navigation > .current-menu-item.menu-item-has-children:focus > a::after, .main-navigation > .current-menu-item.menu-item-has-children:hover > a::after {
        background-color: #2b5fab;
    }
}

@media (min-width: 992px) {
    .main-navigation .sub-menu > li > a {
        background-color: #2b5fab;
    }
}

@media (min-width: 992px) {
    .main-navigation .sub-menu > li:first-of-type {
        border-color: #3678d2;
    }
}

@media (min-width: 992px) {
    .main-navigation .sub-menu > li > a, .main-navigation .sub-menu .sub-menu > li > a {
        border-color: #274f8a;
    }
}

@media (min-width: 992px) {
    .main-navigation .sub-menu > li > a:hover {
        background-color: #3678d2;
    }
}

@media (min-width: 992px) {
    .main-navigation .sub-menu > li > a, .main-navigation .sub-menu > li > a:hover {
        color: #ffffff;
    }
}

@media (max-width: 991px) {
    .main-navigation > li > a, .home-icon {
        color: #ffffff;
    }
}

@media (max-width: 991px) {
    .home-icon:focus, .home-icon:hover, .main-navigation > li:hover > a, .main-navigation > li:focus > a {
        color: #ffffff;
        text-decoration: underline;
    }
}

@media (max-width: 991px) {
    .main-navigation .sub-menu > li > a {
        color: #ffffff;
    }
}

@media (max-width: 991px) {
    .main-navigation .sub-menu > li > a:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.main-title {
    background-color: #f2f2f2;
}

.main-title {
    background-image: url("");
}

.main-title h1, .main-title h2 {
    color: #3d3d3d;
}

.main-title h3 {
    color: #999999;
}

body, .latest-news__excerpt, .content-area .icon-box__subtitle {
    color: #999999;
}

.hentry .entry-content {
    color: #aaaaaa;
}

h1, h2, h3, h4, h5, h6, hentry__title, .hentry__title a, .page-box__title a, .latest-news__title, .accordion__panel a, .icon-menu__link {
    color: #3d3d3d;
}

.header .icon-box .fa, .content-area .icon-box .fa, .step:hover .step__number, .latest-news--more-news, .accordion .more-link:focus, .accordion .more-link:hover, a, .person-profile__social_icon:hover, .sidebar .widget_nav_menu .menu li.current-menu-item > a, body.woocommerce-page ul.products li.product a:hover img, .woocommerce ul.products li.product a:hover img, body.woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price, body.woocommerce-page .star-rating, .woocommerce .star-rating, body.woocommerce-page div.product p.price, body.woocommerce-page p.stars a, body.woocommerce-page ul.product_list_widget .amount, .woocommerce.widget_shopping_cart .total .amount, body.woocommerce-page .widget_product_categories .product-categories li.current-cat > a, body.woocommerce-page nav.woocommerce-pagination ul li .prev, body.woocommerce-page nav.woocommerce-pagination ul li .next, body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
    color: #3baed4;
}

@media (min-width: 992px) {
    .social-icons__link:hover {
        color: #3baed4;
    }
}

html body.woocommerce-page nav.woocommerce-pagination ul li .next:hover, html body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover {
    color: #2ea1c7;
}

a:hover, a:focus {
    color: #1588ae;
}

.btn-primary, .navbar-toggle, .person-profile__tag, .testimonial__carousel, .testimonial__carousel:focus, .widget_calendar caption, .widget_search .search-submit, .pagination .prev, .pagination .next, body.woocommerce-page .widget_shopping_cart_content .buttons .checkout, body.woocommerce-page button.button.alt, body.woocommerce-page .woocommerce-error a.button, body.woocommerce-page .woocommerce-info a.button, body.woocommerce-page .woocommerce-message a.button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, body.woocommerce-page #payment #place_order, body.woocommerce-page #review_form #respond input#submit, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, body.woocommerce-page nav.woocommerce-pagination ul li .prev, body.woocommerce-page nav.woocommerce-pagination ul li .next, body.woocommerce-page span.onsale, .woocommerce span.onsale, body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a::after {
    background-color: #0b3d86;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .navbar-toggle:hover, .testimonial__carousel:hover, .widget_search .search-submit:hover, .widget_search .search-submit:focus, .pagination .prev:hover, .pagination .next:hover, body.woocommerce-page .widget_shopping_cart_content .buttons .checkout:hover, body.woocommerce-page button.button.alt:hover, body.woocommerce-page .woocommerce-error a.button:hover, body.woocommerce-page .woocommerce-info a.button:hover, body.woocommerce-page .woocommerce-message a.button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, body.woocommerce-page #payment #place_order:hover, body.woocommerce-page #review_form #respond input#submit:hover, body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover {
    background-color: #0b3d86;
}

.btn-primary, .pagination .prev, .pagination .next, body.woocommerce-page .widget_shopping_cart_content .buttons .checkout {
    border-color: #3baed4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .pagination .prev:hover, .pagination .next:hover {
    border-color: #2ea1c7;
}

.footer-top {
    background-color: #2f538a;
}

.footer-top__headings {
    color: #ffffff;
}

.footer-top, .footer-top .textwidget {
    color: #aab5c9;
}

.footer-top .widget_nav_menu .menu a {
    color: #aab5c9;
}

.footer {
    background-color: #223d67;
}

.footer-bottom {
    color: #aab5c9;
}

.footer-bottom a {
    color: #ffffff;
}

@media (min-width: 992px) {
    .header__logo img {
        margin-top: 0px;
    }
}

.slb_details {
    display: none;
}
#pgc-15-0-0, #pgc-15-0-1, #pgc-15-0-2, #pgc-15-0-3, #pgc-15-1-0, #pgc-15-1-1, #pgc-15-1-2, #pgc-15-1-3, #pgc-15-10-0, #pgc-15-10-1, #pgc-15-10-2, #pgc-15-10-3 {
    width: 25%
}

#pg-15-0, #pg-15-10 {
    margin-bottom: 60px
}

#pg-15-0 .panel-grid-cell, #pg-15-1 .panel-grid-cell, #pg-15-3 .panel-grid-cell, #pg-15-5 .panel-grid-cell, #pg-15-6 .panel-grid-cell, #pg-15-10 .panel-grid-cell {
    float: left
}

#pg-15-1 {
    margin-bottom: 65px
}

#pg-15-2 {
    margin-bottom: 77px
}

#pg-15-2 .panel-grid-cell, #pg-15-4 .panel-grid-cell, #pg-15-7 .panel-grid-cell, #pg-15-8 .panel-grid-cell, #pg-15-9 .panel-grid-cell, #pg-15-11 .panel-grid-cell, #pg-15-12 .panel-grid-cell, #pg-15-13 .panel-grid-cell {
    float: none
}

#pgc-15-3-0, #pgc-15-3-1, #pgc-15-3-2 {
    width: 33.333%
}

#pg-15-3 {
    margin-bottom: 83px
}

#pg-15-4, #pg-15-7, #pl-15 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pgc-15-5-0, #pgc-15-5-1, #pgc-15-6-0, #pgc-15-6-1 {
    width: 50%
}

#pg-15-5, #pg-15-11 {
    margin-bottom: 75px
}

#pg-15-6 {
    margin-bottom: 71px
}

#pg-15-8 {
    margin-bottom: 73px
}

#pg-15-9, #pl-15 .panel-grid-cell .so-panel {
    margin-bottom: 30px
}

#pg-15-12 {
    margin-bottom: 90px
}

#pg-15-0, #pg-15-1, #pg-15-2, #pg-15-3, #pg-15-4, #pg-15-5, #pg-15-6, #pg-15-7, #pg-15-8, #pg-15-9, #pg-15-10, #pg-15-11, #pg-15-12, #pg-15-13 {
    margin-left: -15px;
    margin-right: -15px
}

#pg-15-0 .panel-grid-cell, #pg-15-1 .panel-grid-cell, #pg-15-2 .panel-grid-cell, #pg-15-3 .panel-grid-cell, #pg-15-4 .panel-grid-cell, #pg-15-5 .panel-grid-cell, #pg-15-6 .panel-grid-cell, #pg-15-7 .panel-grid-cell, #pg-15-8 .panel-grid-cell, #pg-15-9 .panel-grid-cell, #pg-15-10 .panel-grid-cell, #pg-15-11 .panel-grid-cell, #pg-15-12 .panel-grid-cell, #pg-15-13 .panel-grid-cell {
    padding-left: 15px;
    padding-right: 15px
}

@media (max-width: 991px) {
    #pg-15-0 .panel-grid-cell, #pg-15-1 .panel-grid-cell, #pg-15-2 .panel-grid-cell, #pg-15-3 .panel-grid-cell, #pg-15-4 .panel-grid-cell, #pg-15-5 .panel-grid-cell, #pg-15-6 .panel-grid-cell, #pg-15-7 .panel-grid-cell, #pg-15-8 .panel-grid-cell, #pg-15-9 .panel-grid-cell, #pg-15-10 .panel-grid-cell, #pg-15-11 .panel-grid-cell, #pg-15-12 .panel-grid-cell, #pg-15-13 .panel-grid-cell {
        float: none;
        width: auto
    }

    #pgc-15-0-0, #pgc-15-0-1, #pgc-15-0-2, #pgc-15-1-0, #pgc-15-1-1, #pgc-15-1-2, #pgc-15-3-0, #pgc-15-3-1, #pgc-15-5-0, #pgc-15-6-0, #pgc-15-10-0, #pgc-15-10-1, #pgc-15-10-2 {
        margin-bottom: 30px
    }

    #pl-15 .panel-grid {
        margin-left: 0;
        margin-right: 0
    }

    #pl-15 .panel-grid-cell {
        padding: 0
    }
}
.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
    font-weight: 400
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: black;
    text-align: center
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
    font-size: 10px
}

@media print {
    .gm-style .gmnoprint, .gmnoprint {
        display: none
    }
}

@media screen {
    .gm-style .gmnoscreen, .gmnoscreen {
        display: none
    }
}

.gm-style {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none
}

.gm-style img {
    max-width: none
}

img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

#device_list div.cont_border{
    min-width:200px;
    border:1px solid #ccc; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topright:10px; -webkit-border-top-right-radius: 10px;
}

#device_list div img{
    margin-top:10px;
    height:200px;
    width:200px;
}

#device_list div.cont_border > div{
    display: block; padding:10px; border-top:1px solid #dedede; font-size: 15px;
}

#who {
    margin-top: 100px;
}
/*
#who #header_tabs{
    height:45px !important;
}
#who #header_tabs div, #who #header_tabs div a {
    padding: 0;
    margin: 0;
}
*/
#who #header_tabs {
    margin-bottom: 25px;
}
#who #header_tabs div{
    padding:20px;
    background: #f9f9f9;
    border:1px solid #e6e6e6;
    color: #d8d8d8;
    cursor: pointer;
}
#who #header_tabs div a{
    color: #d8d8d8;
    text-decoration: none;
}

#who #header_tabs div.tab-active a{
    color: #969696;

}
#who #header_tabs div.tab-active{
    font-weight:bold;
    background: #ede6ec;
    color: #969696;
    border-color: #ccc;
}

#who #header_tabs div a{
    outline:none;
}